body {
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.visible {
    opacity: 1;
}

#h1{
    color: black;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-width: 10px;
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%);
}
#p1{
    color: blue;
}

.odd{
    color: red;
}

.even{
    color: blue;
}

.button {
    /* background-color: green; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button-1 {background-color: #04aa6d;}
.button-2 {background-color: #008cba;}
